<% layout('../layouts/boilerplate') %>

<body>
  <form method="post" action="/listings" class="needs-validation">
    <div class="container-xxl" style="padding: 0 80px 0 80px" novalidate >
      <div class="row">
        <div class="col-md-6">
          <label for="title">title:</label>
          <input
            type="text"
            name="title"
            id="title"
            placeholder="enter your title"
            class="rounded-5 p-2 border form-control"
            required
          /><br /><br />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please provide a title.</div>
        </div>
        <div class="col-md-6">
          <label for="description">description:</label>
          <input
            type="text"
            name="description"
            id="description"
            placeholder="enter your description"
            class="rounded-5 p-2 border form-control"
            required
          /><br /><br />
        </div>
      </div>
      <label for="image">image:</label>
      <input
        name="image"
        type="text"
        id="image"
        placeholder="enter the image url"
        class="rounded-5 p-2 border form-control"
        required
      /><br /><br />
      <label for="price">price:</label>
      <input
        name="price"
        type="number"
        id="price"
        placeholder="enter the price"
        class="rounded-5 p-2 border form-control"
        required
      /><br /><br />
      <label for="location">location:</label>
      <input
        name="location"
        id="location"
        type="text"
        placeholder="enter the location"
        class="rounded-5 p-2 border form-control"
        required
      /><br /><br />
      <button class="btn btn-outline-danger">submit</button>
    </div>
  </form>
</body>
