
<% layout('../layouts/boilerplate') %>

<body>
    <form method="post" action="/listings">
       title: <input type="text" name="title" placeholder="enter your title"><br><br>
        description: <input type="text" name="description" placeholder="enter your description"><br><br>
        image: <input name="image" type="text"><br><br>
        price: <input name="price" type="number" placeholder="enter the price"><br><br>
        location: <input name="location" type="text" placeholder="enter the location"><br><br>
        <button>submit</button>
    </form>
</body>
